*.pyc
*__pycache__
*.ipynb_checkpoints
*.csv
*.ipynb
*.png
*.dump
*.pt
*.pami12
*.jpg
*.pdf
*.txt


.gitignore
nqubit/results/*
nqubit/results/solution2/s5/events.out.tfevents.1611413545.node01
nqubit/results/solution2/s4/events.out.tfevents.1611413545.node01
nqubit/results/solution2/s3/events.out.tfevents.1611413545.node01
nqubit/results/solution2/s2/events.out.tfevents.1611413545.node01
nqubit/results/solution2/s1/events.out.tfevents.1611413545.node01
nqubit/results/solution2/s0/events.out.tfevents.1611413545.node01
nqubit/results/solution/s5/events.out.tfevents.1611842424.node01
nqubit/results/solution/s4/events.out.tfevents.1611842424.node01
nqubit/results/solution/s3/events.out.tfevents.1611842424.node01
nqubit/results/solution/s2/events.out.tfevents.1611842424.node01
nqubit/results/solution/s1/events.out.tfevents.1611842424.node01
nqubit/results/solution/s0/events.out.tfevents.1611842424.node01
nqubit/results/solution/.DS_Store
nqubit/results/measure9/sac/measure_every_n_steps5/seed4/solution.txt
nqubit/results/measure9/sac/measure_every_n_steps2/seed3/solution.txt
nqubit/results/measure11/sac/measure_every_n_steps10/seed1/solution.txt
nqubit/results/measure10/sac/measure_every_n_steps5/seed2/solution.txt
nqubit/results/measure10/sac/measure_every_n_steps5/seed2/params.json
nqubit/results/latest_version9/SAC/seed1/events.out.tfevents.1611842431.node01
nqubit/results/EnvSetting9/sacDoubleOneHotEnv/seed4/solution.txt
nqubit/results/EnvSetting10/sacDoubleOneHotEnv/seed3/solution.txt
nqubit/plot/reward_scale_small.pdf
nqubit/plot/setting.pdf
nqubit/plot/reward_scale_small.jpg
